.Fashion {
    margin-right:100px;
    margin-left: 100px;
}

.FashionImages {
    height: 400px;
    width: auto;
}

.FashionDiv {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}