.Portraits {
    margin-right:100px;
    margin-left: 100px;
}

.PortraitImages {
    height: 400px;
    width: auto;
}

.PortraitsDiv {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}