.Flowers {
    margin-right:100px;
    margin-left: 100px;
}

.FlowersImages {
    height: 400px;
    width: auto;
    margin-top: 25px;
}

.FlowersDiv {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}