.Navbar {
    display: flex;
    justify-content: space-between;
}

.Name {
    display: flex;
    justify-content: space-evenly;
    width: 50vw;
    font-family: 'Audiowide', cursive;
    
}

.InternalLinks {
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 50vw;
    align-items: center;
    font-size: 24px;
    font-family: 'Caveat', cursive;
    
}

.InstaLogo {
    color: black;
}
